* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #111;
    background-color: #fff;
    line-height: 1.6;
    font-size: 16px;  
}

.container {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 5px 40px;
    display: flex;
    align-content: center;
     
}

/* navbar */

.navbar {
    height: 40px;
    background-color: #f5f5f5;     
    color: #111;
}

.navbar ul {
list-style-type: none;
display: flex;
}

nav a {
    text-decoration: none;
    color: #111;
    padding:  5px;
    font-size: 12px;
    font-weight: 500; 
    text-align: center;  
        
}

.navbar a:hover {
   opacity: 0.5;
}

nav {
    margin-left: auto;
}

/* navbar-2 */

.container-2 {
    width: 100%;
    overflow: auto;
    display: flex;  
   
}

.nav-2 {
    height: 60px;
    background-color: #fff;     
    color: #111;
       
}

.nav-2 ul {
list-style-type: none;
display: flex;
}

.nav2 a {
    text-decoration: none;
    color: #111;
    padding:  15px;
    font-size: 16px;
    font-weight: 500;       
}

.logo {
margin-left: 40px;
}

.nav-2 a:hover {
   opacity: 0.5;
}

.nav2 li { 
   position: relative;
   left: 40%;
   right: 50%;
   line-height: 0.5;  
}

.nav-right {
    position: absolute;
    right: 0px;
    padding: 0 25px;
    top: 9%;  
  }

.search {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 32px;
    height: 40px;  
    padding: 7px;
}

.search:hover {
    background-color: #EEEDED
}
 
::placeholder {
    color: #d4d4d4;
    opacity: 1; /* Firefox */
    padding-right: 15px;
  }

.nav-right i {
    position: absolute;
}

i {
    padding: 5px;
    min-width: 50px;
    text-align: center;
    color: #111;
    }

/* navbar-3 */

.container-3 {
   width: 80%;
    margin: auto;
    overflow: auto;
   
}

.nav-3 {
    height: 60px;
    background-color: #f5f5f5;     
    color: #111;
    display: flex;
    align-items: center; 
    text-align: center;
    font-size: 12px;
}

.nav-3 a {
    color: #111;
    font-weight: 500;
}

/* showcase*/

.showcase img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 430px;
    object-fit: cover;
    /* background-attachment: fixed; */  
}

/* showcase-2*/
.container-4 {
    max-width: 1100px;
    margin:auto;
    overflow: auto;
    text-align: center;
    padding: 40px  0px;
}

.text {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 0.85;
}

.btn {
    display: inline-block;
    border: none;
    background-color: #111;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    margin: 4px 2px;
    padding: 6px 28px;
    cursor: pointer; 
}

.p-1 {
line-height: 4.5;
}

/* header-2 */

.header-2 {
    display: flex;
    margin: 10px 40px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.166667;
}

.pagination {
    margin-left: auto;
    display: inline-block;
}

.pagination a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 12px;
}

.pagination a:hover {
    background-color: #d4d4d4;
}

.previous {
    background-color: #f5f5f5;
    color: #cccccc;
  }

.next {
    background-color: #e5e5e5;
    color: #111;
  }

  .round {
     height: 48px;
     width: 48px;
     border-radius: 50%;
  }

/* container-5 */
.container-5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 40px;
    column-gap: 10px;
    scroll-snap-type: y mandatory;
  overflow-x: scroll;
  display: flex;
  margin-bottom: 100px;
}

.gallery h4 {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color:#111;
    font-weight: 500;
     }
      
.gallery p {
    color: #757575;
    font-size: 16px;
}

.gallery span {
margin-right: 40px;
}

.header-3 {
    display: flex;
    margin: 30px 40px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.166667;
}

/* container-6 */
.container-6 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 40px;
  margin-left: 40px;
 overflow: hidden;
}

 .btn-2 {
    position: relative;
    bottom: 25%;
    left: 10%;
        display: inline-block;
        border: none;
        background-color: #fff;
        color: #111;
        border-radius: 30px;
        text-decoration: none;
        margin: 4px 2px;
        padding: 6px 28px;
        cursor: pointer;    
    }

    .btn-2:hover {
        background-color: #b2b2b2;}
    
       .gallery .p-1 {
            position: relative;
            bottom: 26%;
            left: 10%; 
            color: #fff;
        }

      /* container-7 */
.container-7 {
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
   overflow: hidden;
  }

  .btn-3 {
    position: relative;
    bottom: 43%;
    left: 6%;
        display: inline-block;
        border: none;
        background-color: #fff;
        color: #111;
        border-radius: 30px;
        text-decoration: none;
        margin: 4px 2px;
        padding: 6px 28px;
        cursor: pointer;    
    }

    .btn-3:hover {
        background-color: #b2b2b2;}
    
       .gallery .p-2 {
            position: relative;
            bottom: 50%;
            left: 6%; 
            color: #fff;
        }
        .gallery .p-3 {
            position: relative;
            bottom: 50%;
            left: 6%; 
            color: #fff;
            font-size: 44px;
            line-height: 0.8;
            font-weight: 900;
            letter-spacing: -4px;  
        }

 /* container-8 */
 .container-8 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 40px;
    margin-left: 40px;
   overflow: hidden;
  }
  .btn-4 {
    position: relative;
    bottom: 15%;
    left: 10%;
        display: inline-block;
        border: none;
        background-color: #fff;
        color: #111;
        border-radius: 30px;
        text-decoration: none;
        margin: 4px 2px;
        padding: 6px 28px;
        cursor: pointer;    
    }

    .btn-4:hover {
        background-color: #b2b2b2;}    
       
